DOMAIN_URL=http://localhost:5561
CDN_URL=https://localhost:5560 # Or use your CDN URL if S3 is enabled

API_URL=http://127.0.0.1:5560
# API_URL=https://canary.api.naoti.me
API_KEY=masterkey

MEILI_URL=https://your.meilisearch.instance
MEILI_KEY=meilisearch-private-key-with-full-access
MEILI_PUBLIC_KEY=meilisearch-public-key-with-search-access-only
