@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .role-accent-red {
    @apply border-red-500 dark:border-red-400;
  }

  .role-accent-yellow {
    @apply border-yellow-500 dark:border-yellow-400;
  }

  .role-accent-green {
    @apply border-green-500 dark:border-green-400;
  }

  .role-accent-blue {
    @apply border-blue-500 dark:border-blue-400;
  }

  .role-accent-indigo {
    @apply border-indigo-500 dark:border-indigo-400;
  }

  .role-accent-purple {
    @apply border-purple-500 dark:border-purple-400;
  }

  .role-accent-pink {
    @apply border-pink-500 dark:border-pink-400;
  }

  .role-bg-red {
    @apply border-red-200 bg-red-100 text-red-800;
  }
  .role-bg-yellow {
    @apply border-yellow-200 bg-yellow-100 text-yellow-800;
  }
  .role-bg-green {
    @apply border-green-200 bg-green-100 text-green-800;
  }
  .role-bg-blue {
    @apply border-blue-200 bg-blue-100 text-blue-800;
  }
  .role-bg-indigo {
    @apply border-indigo-200 bg-indigo-100 text-indigo-800;
  }
  .role-bg-purple {
    @apply border-purple-200 bg-purple-100 text-purple-800;
  }
  .role-bg-pink {
    @apply border-pink-300 bg-pink-200 text-pink-800;
  }
  .role-bg-fallback {
    @apply border-gray-200 bg-gray-100 text-gray-800;
  }
}

